{
    "C_Cpp.default.compilerPath": "C:/TDM-GCC-64/bin/g++.exe",
    "C_Cpp.default.cppStandard": "c++17",
    "C_Cpp.clang_format_fallbackStyle": "{BasedOnStyle: Google, IndentWidth: 4, SpacesBeforeTrailingComments: 1, AllowShortIfStatementsOnASingleLine: AllIfsAndElse, DerivePointerAlignment: false, PointerAlignment: Right, ColumnLimit: 95, FixNamespaceComments: false, NamespaceIndentation: All, AllowShortFunctionsOnASingleLine: Empty}",
    "C_Cpp.autocomplete": "Disabled",
    "editor.formatOnSave": true,
    "[cpp]": {
        "editor.wordBasedSuggestions": true,
        "editor.quickSuggestionsDelay": 500,
    },
    "cph.general.saveLocation": ".cph",
    "cph.language.cpp.Args": "-Wl,--stack=268435456 -O2 -std=c++17",
    "cph.general.timeOut": 5000,
    "git.ignoreWindowsGit27Warning": true,
    "code-runner.runInTerminal": true,
    "terminal.integrated.defaultProfile.windows": "Git Bash",
    "code-runner.executorMap": {
        "cpp": "g++ -Wl,--stack=268435456 -O2 -std=c++17 $fileName -o $fileNameWithoutExt && ./$fileNameWithoutExt",
    },
    "code-runner.fileDirectoryAsCwd": true,
    "code-runner.saveFileBeforeRun": true,
    "terminal.integrated.enableMultiLinePasteWarning": false,
}